@import "./reset.scss";

.pre-loader {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 200px;
        @media (max-width: 767px) {
            width: 170px;
        }
    }
    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .progress-bar {
        background-color: $color1;
        border: none;
        overflow: hidden;
        width: 200px;
        height: 2px;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin: 20px 0 0 0;
        transform: rotateY(0deg);
        @media (max-width: 767px) {
            width: 150px;
        }
        .Shape_1 {
            background-color: $color1;
            position: absolute;
            left: 583px;
            top: 459px;
            width: 200px;
            height: 2px;
            z-index: 4;
        }
        span {
            display: flex;
            justify-content: flex-start;
        }
    }
    .bar {
        background-color: #ccc;
        box-shadow: none;
    }
    .progress {
        animation: loader 8s ease infinite;
        background: $color1;
        border: none;
        padding: 0px;
        width: 0;
        height: 2px;
    }
}

@keyframes loader {
    0% {
        width: 0;
    }
    20% {
        width: 10%;
    }
    25% {
        width: 24%;
    }
    43% {
        width: 41%;
    }
    56% {
        width: 50%;
    }
    66% {
        width: 52%;
    }
    71% {
        width: 60%;
    }
    75% {
        width: 76%;
    }
    94% {
        width: 86%;
    }
    100% {
        width: 100%;
    }
}

.s-container {
    width: 100%;
    overflow: hidden;
    margin: auto;
    //swiper bagenation

    //swiper buttons
    .swiper-button-prev,
    .swiper-button-next {
        color: rgb(204, 204, 204);
        transition: all 0.5s;
        top: 42%;

        &:after {
            font-size: 24px;
        }

        &:hover {
            color: $color2;
        }

        @media (max-width: 992px) {
            display: none;
        }
    }

    .swiper-button-prev {
        right: -55px;
        @media (max-width: 1400px) {
            right: -35px;
        }
    }

    .swiper-button-next {
        left: -55px;
        @media (max-width: 1400px) {
            left: -35px;
        }
    }

    .swiper-pagination {
        position: static;
        margin-top: 30px;
        display: none;

        @media (max-width: 1200px) {
            display: block;
        }
    }

    //swiper bagenation
    .swiper-pagination-bullet {
        width: 15px;
        height: 5px;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.5);
        opacity: 1;
        margin-bottom: 10px;

        @media (max-width: 576px) {
            width: 12px;
            height: 3px;
        }
    }
    .swiper-pagination-bullet-active {
        opacity: 1;
        background-color: $color1;
    }

    .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 2.5px;
    }
}

.s-head {
    display: flex;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 576px) {
        margin-bottom: 25px;
    }

    h3 {
        font-size: 24px;
        margin: 0;
        padding-right: 45px;
        color: $color1;
        font-family: TajawalMedium;
        position: relative;

        &::before {
            content: "";
            width: 25px;
            height: 2px;
            background-color: $color2;
            position: absolute;
            top: 50%;
            right: -12px;
            transform: translate(-50%, -50%);
        }

        @media (max-width: 576px) {
            font-size: 21px;
            padding-right: 30px;
            &::before {
                content: "";
                width: 18px;
                right: -8px;
            }
        }
    }

    a {
        color: rgb(145, 145, 145);
        font-size: 18px;
        text-decoration: underline;

        &:hover {
            color: $color1;
        }

        @media (max-width: 576px) {
            font-size: 16px;
        }
    }
}

.product {
    .product-img {
        text-align: center;
        background-color: #ffffff;
        border: 2px solid #ededed;
        margin-bottom: 25px;
        height: 330px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
            transition: all 0.5s;
            max-width: 100%;
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }

    .product-disc {
        text-align: center;
        h5 {
            font-size: 16px;
            color: rgb(17, 17, 17);
            line-height: 1.375;
            text-align: center;
            margin-bottom: 15px;
        }

        .stars {
            font-size: 12px;
            color: rgb(224, 175, 44);
            margin-bottom: 15px;

            .blank {
                color: #cccccc;
            }
        }

        .price {
            color: $color2;
            font-weight: 700;
            font-size: 18px;
            font-family: TajawalBold;

            .price-sale {
                text-decoration: line-through;
                color: gray;
                margin: 0 5px;
                font-size: 16px;
                font-weight: 400;
                display: flex;
            }

            span {
                margin: 0 1px;
            }
        }
    }
}

nav {
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px 0px #00000017;

    .container {
        position: relative;
        padding: 0;
        margin: 0 auto;
        max-width: 100%;

        @media (min-width: 768px) {
            width: 100%;
        }

        @media (min-width: 992px) {
            width: 100%;
        }

        @media (min-width: 1200px) {
            width: 1600px;
        }
    }

    .row {
        margin: 0;

        & > div {
            padding: 0;
        }
    }

    .nav-top {
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        font-size: 14px;
        padding: 20px 0;
        z-index: 9;

        .c2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        ul {
            display: flex;

            li {
                margin-left: 20px;

                a {
                    color: rgb(17, 17, 17);
                    display: flex;
                    justify-content: center;
                    align-items: unset;

                    span {
                        color: rgb(237, 28, 36);
                        margin-left: 9px;
                        font-size: 16px;
                    }
                }
            }
        }

        .top-drops {
            .dropdown {
                a {
                    color: rgb(153, 153, 153);
                    transition: all 0.5s;

                    &:hover {
                        color: $color2;
                    }
                }
                .dropdown-content {
                    div {
                        margin: 10px;
                    }
                }
            }
            .nav-lang {
                margin-right: 25px;
            }
        }

        @media (max-width: 992px) {
            display: none;
        }
    }

    .nav-bottom {
        border-bottom: 1px solid #e6e6e6;
        padding: 15px 0;

        .c2 {
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 992px) {
                justify-content: space-between;
            }
        }

        .nav-logo {
            margin: auto;
            text-align: center;
            img {
                max-width: 100%;
            }

            @media (max-width: 992px) {
                margin: 0;
                text-align: start;
            }
            @media (max-width: 768px) {
                img {
                    max-width: 75%;
                }
            }
        }

        .search {
            width: 35%;
            .search-content {
                position: relative;
                width: 280px;
                form {
                    width: 100%;
                }
                input {
                    width: 100%;
                    height: 45px;
                    font-size: 15px;
                    background-color: #f7f7f7;
                    border-radius: 50px;
                    border: none;
                    padding: 0 30px;
                    font-family: "Tajawal";
                    color: rgb(110, 110, 110);
                    line-height: 4;
                }
                .search-btn {
                    line-height: 3.75;
                    font-size: 18px;
                    position: absolute;
                    top: 50%;
                    left: 30px;
                    transform: translate(-50%, -50%);
                    color: $color1;
                    cursor: pointer;
                    border: none;
                    outline: none;
                    box-shadow: none;
                    background-color: transparent;
                }
            }
            @media (max-width: 1200px) {
                width: 40%;
            }
            @media (max-width: 992px) {
                display: none;
            }
        }

        .nav-icons {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 16px;
            width: 35%;

            .dropdown {
                a {
                    color: $color1;
                    transition: all 0.5s;
                }
                .dropdown-content {
                    div {
                        margin: 10px;
                    }
                }
            }
            & > div {
                margin-right: 20px;
                color: $color1;
                cursor: pointer;
                font-family: TajawalMedium;

                i {
                    font-size: 18px;
                    margin-left: 9px;
                    transition: all 0.5s;
                }

                span {
                    i {
                        font-size: 15px;
                        margin: 0;
                    }
                }

                &:hover {
                    i {
                        color: $color2;
                    }
                    span {
                        i {
                            color: $color1;
                        }
                    }
                }
            }

            .favourite,
            .user,
            .cart span {
                @media (max-width: 992px) {
                    display: none;
                }
            }

            .cart {
                @media (max-width: 992px) {
                    font-size: 20px;
                    margin-right: 20px;

                    i {
                        font-size: 20px;
                        margin: 0;
                    }
                }
            }

            @media (max-width: 1200px) {
                width: 40%;
            }
            @media (max-width: 992px) {
                width: fit-content;
            }
        }

        .nav-icons-sm {
            justify-content: flex-end;
            align-items: center;
            font-size: 18px;
            display: none;

            div {
                margin-right: 20px;
                font-size: 20px;
                color: $color1;
                cursor: pointer;
            }

            @media (max-width: 992px) {
                display: flex;
                margin-right: auto;
            }
        }
    }

    .nava {
        margin: 15px auto;
        transition: all 0.5s;

        .nava-content {
            & > ul {
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: TajawalMedium;
                font-weight: 500;

                li {
                    margin: 0 10px;

                    a {
                        color: black;
                        transition: all 0.5s;
                        font-weight: 500;
                        font-family: TajawalMedium;
                        font-size: 16;
                        text-transform: capitalize;
                        &:hover {
                            color: $color2;
                        }
                    }
                }

                .slide {
                    .drop {
                        font-size: 18px;
                        font-weight: 500;

                        span {
                            font-size: 16px;
                            color: rgb(53, 53, 53);
                            line-height: 2.857;
                        }

                        &:hover {
                            color: $color2;
                        }
                    }
                }

                .sm-link {
                    display: none;
                    @media (max-width: 992px) {
                        display: block;
                    }
                }
                .active {
                    a {
                        color: $color2;
                    }
                }
            }
            .nava-head {
                display: none;
            }
        }

        @media (max-width: 992px) {
            margin: 0;
            position: fixed;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.8);
            height: 0;
            width: 100%;
            z-index: -5;
            opacity: 0;
            transition: all 0.5s;
        }

        .nava-content {
            @media (max-width: 992px) {
                position: absolute;
                top: 0;
                right: -150%;
                background-color: white;
                height: 100vh;
                width: 60%;
                transition: all 0.5s;
                flex-direction: column;
                text-align: right;
                padding: 0 30px;
                padding-top: 30px;

                & > ul {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-top: 30px;
                    li {
                        margin: 10px 0;

                        a {
                            font-size: 18px;
                        }
                    }
                }
                .nava-head {
                    display: flex;
                    margin: 9px 0;
                    font-size: 17px;
                    a {
                        color: #bdbdbd;
                    }
                    .nava-lang {
                        width: fit-content;
                        transition: all 0.5s;
                        .drop {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            i {
                                margin-right: 5px;
                                margin-top: -2px;
                            }
                        }
                        ul {
                            display: none;
                            li {
                                margin: 10px 0;
                            }
                        }
                    }
                    .nava-currency {
                        width: fit-content;
                        transition: all 0.5s;
                        margin-right:30px;
                        .drop {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            i {
                                margin-right: 5px;
                                margin-top: -2px;
                            }
                        }
                        ul {
                            display: none;
                            li {
                                margin: 10px 0;
                            }
                        }
                    }
                    .nava-close {
                        position: absolute;
                        top: 35px;
                        left: 35px;
                        font-size: 25px;
                        cursor: pointer;
                        color: #bdbdbd;
                    }
                }
            }
            @media (max-width: 576px) {
                width: 85%;

                .nava-head {
                    font-size: 16px;

                    .nava-close {
                        font-size: 20px;
                    }
                }

                li {
                    margin: 9px 0;

                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .nava-active {
        opacity: 1;
        z-index: 999;
        height: 100vh;

        .nava-content {
            right: 0;
            min-height: 100%;
            max-height: 100%;
            height: 100%;
            overflow-y: auto;
        }
    }
}

.search-form {
    height: 0%;
    width: 0%;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: -500;
    overflow: hidden;
    transition: all 0.5s;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;

    @media (max-width: 768px) {
        font-size: 18px;
    }

    .close-search {
        font-size: 20px;
        margin-bottom: 125px;
        margin-top: 70px;
        cursor: pointer;
        color: #b1b1b1;

        @media (max-width: 576px) {
            margin-bottom: 130px;
            margin-top: 50px;
        }
    }

    .search {
        width: 33.572%;
        text-align: center;
        margin: 0 auto;
        height: 45px;
        position: relative;

        @media (max-width: 768px) {
            width: 75%;
        }
        @media (max-width: 576px) {
            width: 85%;
        }
        form {
            height: 100%;
        }
        input {
            background-color: #f7f7f7;
            border: none;
            width: 100%;
            height: 100%;
            font-size: 15px;
            border-radius: 50px;
            border: 2px solid rgb(230, 230, 230);
            padding: 0 30px;
            font-family: "Tajawal";
            color: rgb(110, 110, 110);
            line-height: 4;


            @media (max-width: 576px) {
                padding: 0 15px;
            }

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus {
                background-color: transparent;
            }

            // &::placeholder{
            //     color:white;
            // }
        }

        .searching {
            position: absolute;
            top: 50%;
            left: 40px;
            transform: translate(-50%, -50%);
            cursor: pointer;
            border: none;
            outline: none;
            box-shadow: none;
            background-color: transparent;
            color: $color1;

            @media (max-width: 576px) {
                left: 30px;
            }
        }
    }
}

.search-form-active {
    opacity: 1 !important;
    z-index: 2000 !important;
    height: 100% !important;
    width: 100% !important;
}

header {
    .container {
        position: relative;
        padding: 0;
        margin: 0 auto;
        max-width: 100%;

        @media (min-width: 768px) {
            width: 100%;
        }

        @media (min-width: 992px) {
            width: 100%;
        }

        @media (min-width: 1200px) {
            width: 1920px;
        }
    }

    .row {
        margin: 0;

        & > div {
            padding: 0;
        }
    }
    .swiper-container {
        width: 100%;
        height: auto;

        .swiper-pagination {
            bottom: 30px;

            @media (max-width: 576px) {
                bottom: 10px;
            }
        }

        .swiper-pagination-bullet {
            width: 15px;
            height: 5px;
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.5);
            opacity: 1;
            margin-bottom: 10px;

            @media (max-width: 576px) {
                width: 12px;
                height: 3px;
            }
        }

        .swiper-pagination-bullet-active {
            opacity: 1;
            background-color: white;
        }

        .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 0 2.5px;
        }

        .swiper-button-prev,
        .swiper-button-next {
            background-color: rgba(0, 0, 0, 0.5);
            transition: all 0.5s ease-in;
            height: 50px;
            width: 50px;
            border-radius: 100%;
            top: 50%;

            @media (max-width: 768px) {
                display: none;
                height: 25px;
                width: 25px;
            }

            &:after {
                color: white;
                font-size: 14px;
            }
            &:hover {
                background-color: white;
                &:after {
                    color: black;
                }
            }
        }

        .swiper-button-prev {
            right: 22px;
        }

        .swiper-button-next {
            left: 22px;
        }

        .swiper-slide {
            img {
                width: 100%;
                height: auto;
                transition: all 0.5s;
            }

            &:hover {
                img {
                    transform: scale(1.02);
                }
            }
        }
    }
}

#banners {
    margin-top: 30px;
    margin-bottom: 90px;

    @media (max-width: 768px) {
        margin-top: 15px;
        margin-bottom: 40px;
    }

    .container {
        position: relative;
        padding: 0;
        margin: 0 auto;
        max-width: 100%;

        @media (min-width: 768px) {
            width: 100%;
        }

        @media (min-width: 992px) {
            width: 100%;
        }

        @media (min-width: 1200px) {
            width: 1920px;
        }
    }

    .row {
        margin: 0;

        & > div {
            padding: 0;
        }
    }

    .banners-swiper-container {
        width: 100%;
        overflow: hidden;

        .swiper-pagination {
            position: static;
            margin-top: 30px;
            display: none;

            @media (max-width: 1200px) {
                display: block;
            }
        }

        //swiper bagenation
        .swiper-pagination-bullet {
            width: 15px;
            height: 5px;
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.5);
            opacity: 1;
            margin-bottom: 10px;

            @media (max-width: 576px) {
                width: 12px;
                height: 3px;
            }
        }
        .swiper-pagination-bullet-active {
            opacity: 1;
            background-color: $color1;
        }

        .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 0 2.5px;
        }
    }

    .banners-content {
        .banner {
            text-align: center;
            .banner-img {
                max-width: 330px;
                margin-bottom: 25px;
                text-align: center;
                overflow: hidden;

                @media (max-width: 992px) {
                    margin: 0 auto;
                    margin-bottom: 25px;
                }

                img {
                    width: 100%;
                    transition: all 0.5s;
                }

                &:hover {
                    img {
                        transform: scale(1.03);
                    }
                }
            }

            p {
                a {
                    font-size: 20px;
                    color: rgb(38, 36, 123);
                    transition: all 0.5s;

                    &:hover {
                        color: $color2;
                    }
                }
            }
        }
    }
}

#best-seller {
    padding: 75px 0;
    background-color: #f7f7f7;

    @media (max-width: 576px) {
        padding: 50px 0;
    }
    .container {
        position: relative;
        padding: 0;
        margin: 0 auto;
        max-width: 100%;

        @media (min-width: 768px) {
            width: 100%;
        }

        @media (min-width: 992px) {
            width: 100%;
        }

        @media (min-width: 1200px) {
            width: 1920px;
        }
    }

    .row {
        margin: 0;

        & > div {
            padding: 0;
        }
    }
}

#special {
    padding-top: 75px;

    @media (max-width: 576px) {
        padding-top: 50px;
    }
    .container {
        position: relative;
        padding: 0;
        margin: 0 auto;
        max-width: 100%;

        @media (min-width: 768px) {
            width: 100%;
        }

        @media (min-width: 992px) {
            width: 100%;
        }

        @media (min-width: 1200px) {
            width: 1920px;
        }
    }

    .row {
        margin: 0;

        & > div {
            padding: 0;
        }
    }

    .special-body {
        margin-bottom: 75px;

        @media (max-width: 576px) {
            margin-bottom: 50px;
        }
    }

    .special-banner {
        .banner {
            overflow: hidden;
            img {
                width: 100%;
                transition: all 0.5s;
            }

            &:hover {
                img {
                    transform: scale(1.03);
                }
            }
        }
    }
}

#recent {
    padding: 75px 0;

    @media (max-width: 576px) {
        padding: 50px 0;
    }
    .container {
        position: relative;
        padding: 0;
        margin: 0 auto;
        max-width: 100%;

        @media (min-width: 768px) {
            width: 100%;
        }

        @media (min-width: 992px) {
            width: 100%;
        }

        @media (min-width: 1200px) {
            width: 1920px;
        }
    }

    .row {
        margin: 0;

        & > div {
            padding: 0;
        }
    }
}

#brands {
    text-align: center;
    padding: 75px 0;

    @media (max-width: 576px) {
        padding: 50px 0;
    }

    .container {
        position: relative;
        padding: 0;
        margin: 0 auto;
        max-width: 100%;

        @media (min-width: 768px) {
            width: 100%;
        }

        @media (min-width: 992px) {
            width: 100%;
        }

        @media (min-width: 1200px) {
            width: 1400px;
        }
    }

    .row {
        margin: 0;

        & > div {
            padding: 0;
        }
    }

    .brands-head {
        margin-bottom: 85px;
    }

    .brands-body {
        .swiper-container {
            width: 100%;
            height: auto;

            .swiper-pagination {
                position: static;
                margin-top: 30px;
                display: none;

                @media (max-width: 1200px) {
                    display: block;
                }
            }
            .swiper-pagination-bullet {
                width: 15px;
                height: 5px;
                border-radius: 10px;
                background: rgba(0, 0, 0, 0.5);
                opacity: 1;
                margin-bottom: 10px;

                @media (max-width: 576px) {
                    width: 12px;
                    height: 3px;
                }
            }
            .swiper-pagination-bullet-active {
                opacity: 1;
                background-color: $color1;
            }
            .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
                margin: 0 2.5px;
            }

            //swiper buttons

            .swiper-slide {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;

                a {
                    padding-bottom: 50px;
                    img {
                        max-width: 100%;
                        transition: all 0.5s;
                    }

                    &::before {
                        content: "";
                        width: 0;
                        height: 0;
                        background-color: $color2;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        transition: all 0.5s;
                    }
                }

                &:hover {
                    a {
                        &::before {
                            width: 100%;
                            height: 3px;
                        }
                    }
                }
            }
        }
    }
}

#notes {
    padding: 50px 0;
    background-color: $color1;
    color: white;

    .container {
        position: relative;
        padding: 0;
        margin: 0 auto;
        max-width: 100%;

        @media (min-width: 768px) {
            width: 100%;
        }

        @media (min-width: 992px) {
            width: 100%;
        }

        @media (min-width: 1200px) {
            width: 1400px;
        }
    }

    .row {
        margin: 0;

        & > div {
            padding: 0;
        }
    }

    .notes-swiper-container {
        width: 100%;
        overflow: hidden;

        .swiper-pagination {
            position: static;
            margin-top: 30px;
            display: none;

            @media (max-width: 1200px) {
                display: block;
            }
        }

        //swiper bagenation
        .swiper-pagination-bullet {
            width: 15px;
            height: 5px;
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.5);
            opacity: 1;
            margin-bottom: 10px;

            @media (max-width: 576px) {
                width: 12px;
                height: 3px;
            }
        }
        .swiper-pagination-bullet-active {
            opacity: 1;
            background-color: white;
        }

        .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 0 2.5px;
        }
    }

    .notes-slider {
        position: relative;
    }

    .note {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .note-icon {
            margin-bottom: 30px;
            font-size: 36px;
            transition: all 0.5s;
        }

        .note-body {
            p {
                font-size: 16px;
                margin: 0 auto;
                max-width: 70%;
                line-height: 1.5;
            }
        }

        &:hover {
            .note-icon {
                color: $color2;
            }
        }
    }
}

footer {
    padding-top: 80px;

    .container {
        position: relative;
        padding: 0;
        margin: 0 auto;
        max-width: 100%;

        @media (min-width: 768px) {
            width: 100%;
        }

        @media (min-width: 992px) {
            width: 100%;
        }

        @media (min-width: 1200px) {
            width: 1400px;
        }
    }

    .row {
        margin: 0;

        & > div {
            padding: 0;
        }
    }

    .footer-top {
        display: flex;
        justify-content: space-between;

        @media (max-width: 992px) {
            justify-content: center;
            text-align: center;
        }

        .head {
            h4 {
                margin-bottom: 25px;
                text-transform: uppercase;
                font-weight: 700;
                font-family: TajawalBold;
                font-size: 17px;
            }
        }

        li {
            margin-bottom: 10px;
            a {
                font-size: 16px;
                color: black;
                font-weight: 400;
                transition: all 0.3s;
                &:hover {
                    color: $color2;
                }
            }
        }

        .account,
        .adds,
        .cust,
        .info {
            @media (max-width: 992px) {
                display: none;
            }
        }

        .mail {
            width: 450px;
            max-width: 100%;
            h4 {
                margin-bottom: 25px;
                font-size: 15px;
                font-weight: 700;
                font-family: TajawalBold;
                text-transform: uppercase;
            }
            p {
                margin-bottom: 15px;
                font-size: 15px;
                font-weight: 400;
            }

            .form-group {
                position: relative;

                a {
                    color: $color1;
                    position: absolute;
                    top: 50%;
                    left: 33px;
                    transform: translate(-50%, -50%);
                    font-size: 18px;
                    transition: all 0.5s;
                    cursor: pointer;

                    &:hover {
                        color: $color2;
                    }
                }

                input {
                    border-radius: 50px;
                    background-color: #f7f7f7;
                    border: none;
                    border-radius: 25px;
                    font-size: 14px;
                    width: 100%;
                    height: 45px;
                    padding-right: 34px;
                    line-height: 4;

                    &::placeholder {
                        font-size: 14px;
                        color: rgba(187, 187, 187, 255);
                    }
                }
            }

            .social {
                margin-top: 25px;
                a {
                    height: 40px;
                    width: 40px;
                    border-radius: 100%;
                    background-color: black;
                    font-size: 16px;
                    margin: 0 3px;
                    transition: all 0.3s;
                    color: white;
                }

                .wats {
                    a {
                        background-color: #40b720;
                    }
                }
                .fb {
                    a {
                        background-color: #3a5a97;
                    }
                }
                .snap {
                    a {
                        background-color: #f7cb00;
                    }
                }
                .insta {
                    a {
                        background-image: linear-gradient(45deg, #f48d50, #9137b3);
                    }
                }
                .twitter {
                    a {
                        background-color: #2ac5f4;
                    }
                }
            }
        }
    }

    .footer-bottom {
        margin-top: 60px;
        flex-direction: column;

        .payment {
            width: 100%;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            img {
                margin-bottom: 40px;
            }
        }
    }
    .credit {
        background-color: #f7f7f7;
        width: 100%;
        .c2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 14px 0;
            p {
                margin: 0;
            }

            @media (max-width: 992px) {
                flex-direction: column;
                justify-content: center;
                text-align: center;

                p {
                    margin: 10px 0;
                }
            }
        }
    }
}

html[dir="ltr"] {
    .s-head {
        h3 {
            padding-left: 45px;
            padding-right: unset;

            &::before {
                left: 12px;
                right: unset;
            }

            @media (max-width: 576px) {
                padding-right: unset;
                padding-left: 30px;
                &::before {
                    right: unset;
                    left: 8px;
                }
            }
        }
    }

    .s-container {
        .swiper-button-prev {
            right: unset;
            left: -55px;
            @media (max-width: 1400px) {
                right: unset;
                left: -35px;
            }
        }
        .swiper-button-next {
            left: unset;
            right: -55px;
            @media (max-width: 1400px) {
                left: unset;
                right: -35px;
            }
        }
    }

    nav {
        .nav-top {
            ul {
                li {
                    margin-left: unset;
                    margin-right: 20px;

                    a {
                        span {
                            margin-left: unset;
                            margin-right: 9px;
                        }
                    }
                }
            }
            .nav-lang {
                margin-left: 25px;
                margin-right: unset;
            }
        }

        .nav-bottom {
            .nava-active {
                .nava-content {
                    right: unset;
                    left: 0;
                }
            }

            .search {
                .search-content {
                    .search-btn {
                        left: unset;
                        right: 20px;
                    }
                }
            }

            .nav-icons {
                & > div {
                    margin-right: unset;
                    margin-left: 20px;

                    i {
                        margin-right: 9px;
                        margin-left: unset;
                    }

                    span {
                        i {
                            margin: 0;
                        }
                    }
                }

                .cart {
                    @media (max-width: 992px) {
                        margin-right: unset;
                        margin-left: 20px;

                        i {
                            margin: 0;
                        }
                    }
                }
            }
            .nav-icons-sm {
                @media (max-width: 992px) {
                    margin-right: unset;
                    margin-left: auto;
                }
                & > div {
                    margin-right: unset;
                    margin-left: 20px;
                }
            }
        }

        .nava {
            .nava-content {
                @media (max-width: 992px) {
                    right: unset;
                    left: -150%;

                    .nava-head {
                        .nava-close {
                            left: unset;
                            right: 35px;
                        }
                        .nava-lang {
                            .drop {
                                i {
                                    margin-right: unset;
                                    margin-left: 5px;
                                }
                            }
                        }
                        .nava-currency {
                            margin-right:unset;
                            margin-left:30px;
                            .drop {
                                i {
                                    margin-right: unset;
                                    margin-left: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .nava-active {
            .nava-content {
                right: unset;
                left: 0;
            }
        }
    }

    .search-form {
        .searching {
            left: unset;
            right: 20px;

            @media (max-width: 576px) {
                left: unset;
                right: 20px;
            }
        }
    }

    header {
        .swiper-container {
            .swiper-button-prev {
                right: unset;
                left: 22px;
            }

            .swiper-button-next {
                left: unset;
                right: 22px;
            }
        }
    }

    footer {
        .footer-top {
            .mail {
                .form-group {
                    a {
                        left: unset;
                        right: 23px;
                    }
                    input {
                        padding-right: unset;
                        padding-left: 34px;
                    }
                }
            }
        }
    }
}
